<!doctype html>
<html>
    <head>
        <title>Kalendarz - {{ title }}</title>
    </head>
    <body>
        <div>Kalendarz:
            <a href="{{ url_for('index') }}">Strona domowa</a>
            <a href="{{ url_for('login') }}">Logowanie</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>