{% extends "base.html" %}

{% block content %}
    	<h1> <center>Kalendarz</center> </h1>
	
	<center>
		<button type="submit" class="btn btn-success" onclick="window.location.href='{{ url_for('add_event_post') }}';">
			
			Dodaj wydarzenie
		</button>
	</center>

	<TABLE style="width: 1500px; height: 50px;">
		<tbody>
			<tr>
				<td>
				<p align="left">
					<button type="submit" class="btn btn-primary" onclick="window.location.href='{{ url_for('calendar', x=offset-1) }}';">
						Poprzedni tydzień
					</button>
				</p>
				</td>
				<td>
				<p align="right">
					<button type="submit" class="btn btn-primary" onclick="window.location.href='{{ url_for('calendar', x=offset+1) }}';">
						Następny tydzień
					</button>
				</p>
				</td>
			</tr>
	</table>

	<TABLE BORDER="1" style="width: 1500px; height: 50px;">

			<tr><th style="width: 9%"><center></center></th>
				<th style="width: 13%"><center>PONIEDZIAŁEK</center></th>
				<th style="width: 13%"><center>WTOREK</center></th>
				<th style="width: 13%"><center>ŚRODA</center></th>
				<th style="width: 13%"><center>CZWARTEK</center></th>
				<th style="width: 13%"><center>PIĄTEK</center></th>
				<th style="width: 13%"><center>SOBOTA</center></th>
				<th style="width: 13%"><center>NIEDZIELA</center></th></tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 50px;">
			<tr>
				<th style="width: 9%"><center>Godzina</center></th>
				{% for day in week %}
				<td style="width: 13%">
					<div><center>{% if day.date() == current_day %}
									<div style="background-color:#008080; border:solid">
									<center>{{ day.date() }}</center></div>
					{% else %}
						 <div><center>{{ day.date() }}</center></div>
					{% endif %}</center></div>
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>00:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>01:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>02:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>03:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>04:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>05:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>06:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>07:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>08:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>09:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>10:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>11:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>12:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>13:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>14:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>15:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>	
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>16:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>17:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>18:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>19:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>20:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>21:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>22:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 75px;">				
			<tr>
				<th style="width: 9%"><center>23:00</center></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
	</table>
	<p></p>
{% endblock %}
