{% extends "base.html" %}

{% block content %}
    	<h1> <center>Kalendarz</center> </h1>
	
	<center>
		<button type="submit" class="btn btn-success" onclick="window.location.href='{{ url_for('add_event') }}';">
			
			Dodaj wydarzenie
		</button>
	</center>

	<TABLE style="width: 1500px; height: 50px;">
		<tbody>
			<tr>
				<td>
				<p align="left">
					<button type="submit" class="btn btn-primary" onclick="window.location.href='{{ url_for('calendar', offset=offset-1) }}';">
						Poprzedni tydzień
					</button>
				</p>
				</td>
				<td>
				<p align="right">
					<button type="submit" class="btn btn-primary" onclick="window.location.href='{{ url_for('calendar', offset=offset+1) }}';">
						Następny tydzień
					</button>
				</p>
				</td>
			</tr>
	</table>

	<TABLE BORDER="1" style="width: 1500px; height: 50px;">
		<tbody>
			<tr><td style="width: 12.5%"><center>PONIEDZIAŁEK</center></td>
				<td style="width: 12.5%"><center>WTOREK</center></td>
				<td style="width: 12.5%"><center>ŚRODA</center></td>
				<td style="width: 12.5%"><center>CZWARTEK</center></td>
				<td style="width: 12.5%"><center>PIĄTEK</center></td>
				<td style="width: 12.5%"><center>SOBOTA</center></td>
				<td style="width: 12.5%"><center>NIEDZIELA</center></td></tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 50px;">
			<tr>
				{% for day in week %}
				<td style="width: 12.5%">
					<div><center>{{ day.date() }}</center></div>
				</td>
				{% endfor %}
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 400px;">				
			<tr>
				{% for i in range(7) %}
				<td style="width: 12.5%">
					{% with day=week[i] %}
						{% include '_events.html' %}
					{% endwith %}
				</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
{% endblock %}
