{% extends "base.html" %}

{% block content %}
    	<h1> <center>Kalendarz</center> </h1>
	
	<center>
		<button type="submit" class="btn btn-success" onclick="window.location.href='{{ url_for('add_event_post') }}';">
			
			Dodaj wydarzenie
		</button>
	</center>

	<TABLE style="width: 1500px; height: 50px;">
		<tbody>
			<tr>
				<td>
				<p align="left">
					<button type="submit" class="btn btn-primary" onclick="window.location.href='{{ url_for('calendar', x=offset-1) }}';">
						Poprzedni tydzień
					</button>
				</p>
				</td>
				<td>
				<p align="right">
					<button type="submit" class="btn btn-primary" onclick="window.location.href='{{ url_for('calendar', x=offset+1) }}';">
						Następny tydzień
					</button>
				</p>
				</td>
			</tr>
	</table>

	<TABLE BORDER="1" style="width: 1500px; height: 50px;">

			<tr><th style="width: 9%"><center></center></th>
				<th style="width: 13%"><center>PONIEDZIAŁEK</center></th>
				<th style="width: 13%"><center>WTOREK</center></th>
				<th style="width: 13%"><center>ŚRODA</center></th>
				<th style="width: 13%"><center>CZWARTEK</center></th>
				<th style="width: 13%"><center>PIĄTEK</center></th>
				<th style="width: 13%"><center>SOBOTA</center></th>
				<th style="width: 13%"><center>NIEDZIELA</center></th></tr>
	</table>
	<TABLE BORDER="1" style="width: 1500px; height: 50px;">
			<tr>
				<th style="width: 9%"><center>Godzina</center></th>
				{% for day in week %}
				<td style="width: 13%">
					<div><center>{% if day.date() == current_day %}
									<div style="background-color:#008080; border:solid">
									<center>{{ day.date() }}</center></div>
					{% else %}
						 <div><center>{{ day.date() }}</center></div>
					{% endif %}</center></div>
				</td>
				{% endfor %}
			</tr>
	</table>
	
	<TABLE BORDER="1" style="width: 1500px; height: 75px">				
			{% for j in range(0,24) %}
			<tr>
				<th style="width: 9%; height: 75px"><div><center>{{ hour[0+j] }}</center></div></th>
				{% for i in range(7) %}
				<td style="width: 13%">
					{% with day=week[i] %}
				<div><center>{% include '_events.html' %}</center></div>
					{% endwith %}
				</td>
				{% endfor %}				
			</tr>
			{% endfor %}
	</table>
	
	<p></p>
{% endblock %}
