<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Kalendarz</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Strona domowa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('add_event') }}">Dodawanie wydarzeń</a>
          </li>
          <li class="nav-item">
            {% if current_user.is_anonymous %}
            <a class = "nav-link" href="{{ url_for('register') }}">Zarejestruj się</a>	
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Zaloguj się</a>
            {% else %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Wyloguj się</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
